env/

db.sqlite3

farm_management/__pycache__/

product_app/__pycache__/

product_app/migrations/__pycache__/

product_app/migrations/0*.py

client_app/__pycache__/

client_app/migrations/__pycache__/

client_app/migrations/0*.py

price_app/__pycache__/

price_app/migrations/__pycache__/

price_app/migrations/0*.py

basket_app/__pycache__/

basket_app/migrations/__pycache__/

basket_app/migrations/0*.py
