env/

static/

db.sqlite3

geckodriver.log

db_save.json

farm_management/__pycache__/

product_app/__pycache__/

product_app/migrations/__pycache__/

product_app/migrations/0*.py

product_app/templatetags/__pycache__/

client_app/__pycache__/

client_app/migrations/__pycache__/

client_app/migrations/0*.py

price_app/__pycache__/

price_app/migrations/__pycache__/

price_app/migrations/0*.py

basket_app/__pycache__/

basket_app/migrations/__pycache__/

basket_app/migrations/0*.py

basket_app/templatetags/__pycache__/

order_app/__pycache__/

order_app/migrations/__pycache__/

order_app/migrations/0*.py

order_app/templatetags/__pycache__/

cost_app/__pycache__/

cost_app/migrations/__pycache__/

cost_app/migrations/0*.py

cost_app/templatetags/__pycache__/
