{% extends 'product_app/base.html' %}

{% load static %}

{% block content %}
<!-- Header -->
<h5>{{ products.count }} produit{% if products.count > 1 %}s{% endif %} répertorié{% if products.count > 1 %}s{% endif %} <a class="btn btn-success" type="button" href="{% url 'add_product' %}">Ajouter un produit</a></h5>
<!---->
<!-- List -->
{% if products.count > 0 %}
    <div class="table-responsive-md">
        <table class="table table-hover table-bordered table-sm table-dark text-center">
            <thead>
                <tr>
                    <th scope="col" rowspan="2" style="vertical-align: middle;">Produit</th>
                    <th scope="col" rowspan="2" style="vertical-align: middle;">Unité</th>
                    <th colspan="3">Prix</th>
                    <th colspan="2" rowspan="2"></th>
                </tr>
                <tr>
                    <th scope="col">assos</th>
                    <th scope="col">assos</th>
                    <th scope="col">assos</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.name }}</td>
                        <td>{{ product.unit }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="/produits/{{ product.id }}/" class="text-danger">modifier</a>
                        </td>
                        <td>
                            <button onclick='DeleteProduct("{{ product.id }}", "{{ product.name }}", "{{ csrf_token }}");'>
                                <img src="{% static 'img/trash.png' %}" class="img-fluid">
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<!---->
{% endblock %}
