{% extends 'product_app/base.html' %}

{% load static %}

{% load mathfilters %}

{% block content %}
<!-- Title client name-->
<h5>Client: {{ client_name }}</h5>
<!---->
<!-- Orders in preparation -->
<!-- Header -->
<h5>{{ orders_in_preparation.count }} commande{% if orders_in_preparation.count > 1 %}s{% endif %} en préparation</h5>
<!---->
{% if orders_in_preparation.count > 0 %}
    {% include 'order_app/table_orders_in_preparation.html' %}
{% endif %}
<!-- -->
<!-- Orders in course of delivery -->
<!-- Header -->
<h5>{{ orders_in_course_delivery.count }} commande{% if orders_in_course_delivery.count > 1 %}s{% endif %} en cours de livraison</h5>
<!---->
{% if orders_in_course_delivery.count > 0 %}
    {% include 'order_app/table_orders_in_course_delivery.html' %}
{% endif %}
<!-- -->
<!-- Orders delivered -->
<!-- Header -->
<h5>{{ orders_delivered.count }} commande{% if orders_delivered.count > 1 %}s{% endif %} livrée{% if orders_delivered.count > 1 %}s{% endif %}</h5>
<!---->
{% if orders_delivered.count > 0 %}
    {% include 'order_app/table_orders_delivered.html' %}
{% endif %}
<!---->
<hr style="border-top: 1.5px solid #8c8b8b;">
<!-- total by product-->
{% if orders_delivered.count > 0 %}
    <h5 class="mt-4">Gain total: {{ total_gain }} soit {{ 100|mul:total_gain|div:total_revenue|floatformat:"-2" }} % du chiffre d'affaire</h5>
    {% include 'order_app/table_products_client.html' %}
{% endif %}
<!---->
{% endblock %}

{% block script %}
<script src="{% static 'js/order/script.js' %}"></script>
{% endblock %}
