{% extends 'product_app/base.html' %}

{% load static %}

{% load mathfilters %}

{% load order_display %}

{% block content %}
<!-- titles -->
<!-- delivered date -->
<h5>Commande livrée le {{ order_delivered.delivery_date }}</h5>
<!---->
<!-- client's name -->
<h5>Client: {{ order_delivered.client.name }}</h5>
<!---->
<!-- composition -->
<h5>Composition</h5>
<!---->
<!---->
{% for basket in order_delivered|get_composition_order_validated %}
    <!-- basket's title, quantity and number-->
    <strong style="padding-left:2rem;">
        <span class="badge badge-secondary badge-pill">{{ basket.quantity }}</span> panier{% if basket.quantity > 1 %}s{% endif %} {{ basket.category_name }}</span>
    </strong>
    <!---->
    <!-- table order -->
    <div class="table-responsive-md" style="padding-top:0.5rem;">
        <table class="table table-hover table-bordered table-sm table-dark text-center">
            <!-- Table header -->
            <thead>
                <!-- first line -->
                <tr class="bg-secondary">
                    <!-- col product name -->
                    <th scope="col" rowspan="2" style="vertical-align: middle;">Produit</th>
                    <!---->
                    <!-- cols for quantities -->
                    <th colspan="2">Quantité</th>
                    <!---->
                    <!-- cols for prices -->
                    <th colspan="3">Prix</th>
                    <!---->
                </tr>
                <!---->
                <!-- second line -->
                <tr class="bg-secondary">
                    <!-- col quantity -->
                    <!-- by basket -->
                    <th scope="col">par panier</th>
                    <!---->
                    <!-- total -->
                    <th scope="col">totale</th>
                    <!---->
                    <!---->
                    <!-- col price -->
                    <!-- by unit -->
                    <th scope="col">unitaire</th>
                    <!---->
                    <!-- by basket -->
                    <th scope="col">par panier</th>
                    <!---->
                    <!-- total -->
                    <th scope="col">pour la commande</th>
                    <!---->
                    <!---->
                </tr>
                <!---->
            </thead>
            <!---->
            <!-- Table lines -->
            <tbody>
                {% for component in basket|get_composition_basket_ordered %}
                    <!-- line for each product -->
                    <tr>
                        <!-- product name -->
                        <td>
                            {{ component.product.name }}
                        </td>
                        <!---->
                        <!-- quantity by basket -->
                        <td>
                            {{ component.quantity_product|floatformat:"-3" }} {{ component.product.unit }}
                        </td>
                        <!---->
                        <!-- quantity total by order -->
                        <td>
                            {{ component.quantity_product|mul:basket.quantity|floatformat:"-3" }} {{ component.product.unit }}
                        </td>
                        <!---->
                        <!-- price by unit -->
                        <td>
                            {{ component.price_product }}
                        </td>
                        <!---->
                        <!-- price by basket -->
                        <td>
                            {{ component.price_product|mul:component.quantity_product }}
                        </td>
                        <!---->
                        <!-- price by order -->
                        <td>
                            {{ component.price_product|mul:component.quantity_product|mul:basket.quantity }}
                        </td>
                        <!---->
                    </tr>
                    <!---->
                {% endfor %}
                <!-- last line -->
                <tr class="bg-success">
                    <!-- Total title -->
                    <td colspan="4" class="text-right">Total:</td>
                    <!---->
                    <!-- total price by basket-->
                    {% with basket|get_basket_ordered_total_price as total_price_basket %}
                    <td>
                        {{ total_price_basket }}
                    </td>
                    <!---->
                    <!-- total price by order-->
                    <td>
                        {{ total_price_basket|mul:basket.quantity }}
                    </td>
                    {% endwith %}
                    <!---->
                </tr>
                <!---->
            </tbody>
            <!---->
        </table>
    </div>
    <!---->
{% endfor %}
<!-- total price for the order -->
<h5>Prix de la commande: {{ order_delivered|get_total_price_order_validated }}</h5>
<!---->
<!-- button link to cancel -->
<a class="btn btn-danger mb-2" href="{{ origin_address }}" style="margin-left:2rem;">Retour</a>
<!---->
{% endblock %}
