{% extends 'product_app/base.html' %}

{% load static %}

{% block content %}
<!-- Crete new order -->
<a class="btn btn-success" type="button" href="{% url 'create_order' %}">Créer une nouvelle commande</a>
<!---->
<!-- Orders in preparation -->
<h5>{{ orders_in_preparation.count }} commande{% if orders_in_preparation.count > 1 %}s{% endif %} en préparation</h5>
{% if orders_in_preparation.count > 0 %}
    <div class="table-responsive-md">
        <table class="table table-hover table-bordered table-sm table-dark text-center">
            <thead>
                <tr class="bg-secondary">
                    <th scope="col">Date de création</th>
                    <th scope="col">Client</th>
                    <th scope="col">Composition</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders_in_preparation %}
                    <tr>
                        <td style="vertical-align: middle;">{{ order.creation_date }}</td>
                        <td style="vertical-align: middle;">{{ order.client.name }}</td>
                        <td style="vertical-align: middle;">
                            <ul style="list-style-type:none; margin-bottom:0">
                                {% for component in composition %}
                                    {% if component.order == order %}
                                        <li>
                                            <span class="badge badge-secondary badge-pill">{{ component.quantity_basket }}</span>
                                            panier{% if component.quantity_basket > 1 %}s{% endif %} <strong>{{ component.basket.category.name }}</strong> numéro <span class="badge badge-secondary badge-pill">{{ component.basket.number }}</span>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        <td style="vertical-align: middle;"><a class="btn btn-success" type="button" href="/commandes/valid{{ order.id }}">Valider</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<!-- -->
<!-- Orders in course of delivery -->
<h5>{{ orders_in_course_delivery.count }} commande{% if orders_in_course_delivery.count > 1 %}s{% endif %} en cours de livraison</h5>
{% if orders_in_course_delivery.count > 0 %}
    <div class="table-responsive-md">
        <table class="table table-hover table-bordered table-sm table-dark text-center">
            <thead>
                <tr class="bg-secondary">
                    <th scope="col">Date de validation</th>
                    <th scope="col">Client</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders_in_course_delivery %}
                    <tr>
                        <td>{{ order.validation_date }}</td>
                        <td>{{ order.client.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<!-- -->
<!-- Orders delivered -->
<h5>{{ orders_delivered.count }} commande{% if orders_delivered.count > 1 %}s{% endif %} livrée{% if orders_delivered.count > 1 %}s{% endif %}</h5>
{% if orders_delivered.count > 0 %}
    <div class="table-responsive-md">
        <table class="table table-hover table-bordered table-sm table-dark text-center">
            <thead>
                <tr class="bg-secondary">
                    <th scope="col">Date de livraison</th>
                    <th scope="col">Client</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders_delivered %}
                    <tr>
                        <td>{{ order.delivery_date }}</td>
                        <td>{{ order.client.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
<!---->
{% endblock %}
