{% extends 'product_app/base.html' %}

{% load static %}

{% block content %}
<!-- Create new order -->
<a class="btn btn-success mt-2" type="button" href="{% url 'create_order' %}">Créer une nouvelle commande</a>
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Orders in preparation -->
<!-- Header -->
<h5>{{ orders_in_preparation.count }} commande{% if orders_in_preparation.count > 1 %}s{% endif %} en préparation</h5>
<!---->
{% if orders_in_preparation.count > 0 %}
    {% include 'order_app/table_orders_in_preparation.html' %}
{% endif %}
<!-- -->
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Orders in course of delivery -->
<!-- Header -->
<h5>{{ orders_in_course_delivery.count }} commande{% if orders_in_course_delivery.count > 1 %}s{% endif %} en cours de livraison</h5>
<!---->
{% if orders_in_course_delivery.count > 0 %}
    {% include 'order_app/table_orders_in_course_delivery.html' %}
{% endif %}
<!-- -->
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Orders delivered -->
<!-- Header -->
<h5>{{ orders_delivered.count }} commande{% if orders_delivered.count > 1 %}s{% endif %} livrée{% if orders_delivered.count > 1 %}s{% endif %}</h5>
<!---->
{% if orders_delivered.count > 0 %}
    {% include 'order_app/table_orders_delivered.html' %}
{% endif %}
<!---->
{% endblock %}

{% block script %}
<script src="{% static 'js/order/script.js' %}"></script>
{% endblock %}
