{% load static %}

{% load order_display %}

<!-- Table -->
<div class="table-responsive-md">
    <table class="table table-hover table-bordered table-sm table-dark text-center">
        <!-- Table header -->
        <thead>
            <tr class="bg-secondary">
                <!-- col delivery date -->
                <th scope="col">Date de livraison</th>
                <!---->
                <!-- col client -->
                <th scope="col">Client</th>
                <!---->
                <!-- col compositon -->
                <th scope="col">Composition</th>
                <!-- -->
                <!-- col for button -->
                <th scope="col"></th>
            </tr>
        </thead>
        <!---->
        <!-- Table lines -->
        <tbody>
            {% for order in orders_delivered %}
                <!-- line for each order delivered -->
                <tr>
                    <!-- delivery date -->
                    <td style="vertical-align: middle;">
                        {{ order.delivery_date }}
                    </td>
                    <!---->
                    <!-- client's name -->
                    <td style="vertical-align: middle;">
                        {{ order.client.name }}
                    </td>
                    <!---->
                    <!-- composition -->
                    <td style="vertical-align: middle;">
                        <!-- list of baskets -->
                        <ul style="list-style-type:none; margin-bottom:0">
                            {% for basket in order|get_composition_order_validated %}
                                <li>
                                    <span class="badge badge-secondary badge-pill">{{ basket.quantity }}</span>
                                    panier{% if basket.quantity > 1 %}s{% endif %} <strong>{{ basket.category_name }}</strong></span>
                                </li>
                            {% endfor %}
                        </ul>
                        <!---->
                    </td>
                    <!---->
                    <!-- button to see -->
                    <td style="vertical-align: middle;">
                        <a class="btn btn-success" type="button" href="{% url 'order' %}delivered{{ order.id }}">Voir</a>
                    </td>
                    <!---->
                </tr>
            {% endfor %}
        </tbody>
        <!---->
    </table>
</div>
<!---->
