{% extends 'product_app/base.html' %}

{% load static %}

{% load mathfilters %}

{% load order_display %}

{% load basket_display %}

{% load product_price %}

{% block content %}
<!-- titles -->
<!-- creation date -->
<h5>Commande créée le {{ order_created.creation_date }}</h5>
<!---->
<!-- client's name -->
<h5>Client: {{ order_created.client.name }}</h5>
<!---->
<!-- composition -->
<h5>Composition</h5>
<!---->
<!---->
{% for component in order_created|get_composition_order %}
    <!-- basket's title, quantity and number-->
    <strong style="padding-left:2rem;">
        <span class="badge badge-secondary badge-pill">{{ component.quantity_basket }}</span> panier{% if component.quantity_basket > 1 %}s{% endif %} {{ component.basket.category.name }} numéro <span class="badge badge-secondary badge-pill">{{ component.basket.number }}</span>
    </strong>
    <!---->
    <!-- table order -->
    <div class="table-responsive-md" style="padding-top:0.5rem;">
        <table class="table table-hover table-bordered table-sm table-dark text-center">
            <!-- Table header -->
            <thead>
                <!-- first line -->
                <tr class="bg-secondary">
                    <!-- col product name -->
                    <th scope="col" rowspan="2" style="vertical-align: middle;">Produit</th>
                    <!---->
                    <!-- cols for quantities -->
                    <th colspan="2">Quantité</th>
                    <!---->
                    <!-- cols for prices -->
                    <th colspan="3">Prix</th>
                    <!---->
                </tr>
                <!---->
                <!-- second line -->
                <tr class="bg-secondary">
                    <!-- col quantity -->
                    <!-- by basket -->
                    <th scope="col">par panier</th>
                    <!---->
                    <!-- total -->
                    <th scope="col">totale</th>
                    <!---->
                    <!---->
                    <!-- col price -->
                    <!-- by unit -->
                    <th scope="col">unitaire</th>
                    <!---->
                    <!-- by basket -->
                    <th scope="col">par panier</th>
                    <!---->
                    <!-- total -->
                    <th scope="col">pour la commande</th>
                    <!---->
                    <!---->
                </tr>
                <!---->
            </thead>
            <!---->
            <!-- Table lines -->
            <tbody>
                {% for component_basket in component.basket|get_composition %}
                    <!-- line for each product -->
                    <tr>
                        <!-- product name -->
                        <td>
                            {{ component_basket.product.name }}
                        </td>
                        <!---->
                        <!-- quantity by basket -->
                        <td>
                            {{ component_basket.quantity_product|floatformat:"-3" }} {{ component_basket.product.unit }}
                        </td>
                        <!---->
                        <!-- quantity total by order -->
                        <td>
                            {{ component_basket.quantity_product|mul:component.quantity_basket|floatformat:"-3" }} {{ component_basket.product.unit }}
                        </td>
                        <!---->
                        <!-- price by unit -->
                        {% with component_basket.product|get_price:order_created.client.category as price %}
                        <td>
                            {{ price }}
                        </td>
                        <!---->
                        <!-- price by basket -->
                        <td>
                            {{ price|mul:component_basket.quantity_product }}
                        </td>
                        <!---->
                        <!-- price by order -->
                        <td>
                            {{ price|mul:component_basket.quantity_product|mul:component.quantity_basket }}
                        </td>
                        <!---->
                        {% endwith %}
                    </tr>
                    <!---->
                {% endfor %}
                <!-- last line -->
                <tr class="bg-success">
                    <!-- Total title -->
                    <td colspan="4" class="text-right">Total:</td>
                    <!---->
                    <!-- total price by basket-->
                    {% with component.basket|get_basket_total_price:order_created.client.category as total_price %}
                    <td>
                        {{ total_price }}
                    </td>
                    <!---->
                    <!-- total price by order-->
                    <td>
                        {{ total_price|mul:component.quantity_basket }}
                    </td>
                    {% endwith %}
                    <!---->
                </tr>
                <!---->
            </tbody>
            <!---->
        </table>
    </div>
    <!---->
{% endfor %}
<!-- total price for the order -->
<h5>Prix de la commande: {{ order_created|get_total_price_order }}</h5>
<!---->
<!-- button link to validate order and cancel -->
<form id="valid-order-form" role="form" action="" method="post" class="mb-2">
    {% csrf_token %}
    <input id="origin-address" name="origin-address" type="hidden" value="{{ origin_address }}">
    <button class="btn btn-success" type="submit">Valider la commande</button>
    <a class="btn btn-danger" href="{{ origin_address }}">Retour</a>
</form>
<!---->
{% endblock %}
