{% extends 'product_app/base.html' %}

{% load static %}

{% load product_price %}

{% load basket_display %}

{% load mathfilters %}

{% block content %}
<!-- Categoies -->
<!-- Header -->
<h5>{{ categories.count }} catégorie{% if categories.count > 1 %}s{% endif %} de panier répertoriée{% if categories.count > 1 %}s{% endif %} <a class="btn btn-success" type="button" href="{% url 'add_category_basket' %}">Ajouter une catégorie</a></h5>
<!---->
<!-- Table category-->
<div class="table-responsive-md">
    <table class="table table-hover table-bordered table-sm table-dark text-center">
        <tbody>
            {% for category in categories %}
                <!-- line for each category -->
                <tr>
                    <!-- category name -->
                    <td>
                        {{ category.name }}
                    </td>
                    <!---->
                    <!-- link to update category -->
                    <td>
                        <a href="{% url 'basket' %}categorie{{ category.id }}/" class="text-danger">modifier</a>
                    </td>
                    <!---->
                    <!--button to delete category -->
                    <td>
                        <button onclick='DeleteCategoryBasket("{{ category.id }}", "{{ category.name }}", "{{ csrf_token }}");'>
                            <img src="{% static 'img/trash.png' %}" class="img-fluid">
                        </button>
                    </td>
                    <!---->
                </tr>
                <!---->
            {% endfor %}
        </tbody>
    </table>
</div>
<!---->
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Basket -->
<!-- Header -->
<h5>{{ number_of_baskets }} panier{% if number_of_baskets > 1 %}s{% endif %} répertorié{% if number_of_baskets > 1 %}s{% endif %} <a class="btn btn-success" type="button" href="{% url 'create_basket' %}">Créer un nouveau panier</a></h5>
<!---->
<!-- Tables of basket by category -->
{% for category in categories %}
    <hr style="border-top: 2px solid #8c8b8b;">
    <div class="tables-by-category">
        <!-- category name -->
        <h5>{{ category.name }}</h5>
        <!---->
        {% for basket in category|get_baskets %}
            <!-- Table's title, link to update basket and button to delete basket  -->
            <strong style="padding-left:2rem;">panier numéro {{ basket.number }}:</strong><a href="{% url 'basket' %}numero{{ basket.number }}/" class="text-danger" style="padding-left:1rem;">modifier</a><button onclick='DeleteBasket("{{ basket.id }}", "{{ basket.number }}", "{{ csrf_token }}");' style="padding-left:1rem; padding-bottom:1rem; background-color: transparent; margin-top: 0;"><img src="{% static 'img/trash.png' %}" class="img-fluid"></button>
            <!---->
            <!-- Table -->
            <div class="table-responsive-md">
                <table class="table table-hover table-bordered table-sm table-dark text-center">
                    <!-- Table header -->
                    <thead>
                        <!-- first line -->
                        <tr class="bg-secondary">
                            <!-- col product name -->
                            <th scope="col" rowspan="{% if categories_client.count > 0 %}2{% else %}1{% endif %}" style="vertical-align: middle;">
                                Produit
                            </th>
                            <!---->
                            <!-- col quantity -->
                            <th scope="col" rowspan="{% if categories_client.count > 0 %}2{% else %}1{% endif %}" style="vertical-align: middle;">
                                Quantité
                            </th>
                            <!---->
                            {% if categories_client.count > 0 %}
                                <!-- cols for prices -->
                                <th colspan="{{ categories_client.count }}">
                                    Prix
                                </th>
                                <!---->
                            {% endif %}
                        </tr>
                        <!---->
                        {% if categories_client.count > 0 %}
                            <!-- second line -->
                            <tr class="bg-secondary">
                                {% for category_client in categories_client %}
                                    <!-- col for price for each client's category -->
                                    <th scope="col">
                                        {{ category_client.name }}
                                    </th>
                                    <!---->
                                {% endfor %}
                            </tr>
                            <!---->
                        {% endif %}
                    </thead>
                    <!---->
                    <!-- Table lines -->
                    <tbody>
                        {% for component in basket|get_composition %}
                            <!-- line for each product -->
                            <tr>
                                <!-- product name -->
                                <td>
                                    {{ component.product.name }}
                                </td>
                                <!---->
                                <!-- quantity -->
                                <td>
                                    {{ component.quantity_product|floatformat:"-3" }} {{ component.product.unit }}
                                </td>
                                <!---->
                                {% if categories_client.count > 0 %}
                                    {% for category_client in categories_client %}
                                        <!-- prices for each category -->
                                        <td>
                                            {% with component.product|get_price:category_client as price %}
                                            {{ price|mul:component.quantity_product }}
                                            {% endwith %} 
                                        </td>
                                        <!---->
                                    {% endfor %}
                                {% endif %}
                            </tr>
                            <!---->
                        {% endfor %}
                        <!-- last line -->
                        <tr class="bg-success">
                            <!-- Total title -->
                            <td colspan="2" class="text-right">Total:</td>
                            <!---->
                            {% if categories_client.count > 0 %}
                                {% for category_client in categories_client %}
                                    <!-- Total for each category -->
                                    <td>
                                        {{ basket|get_basket_total_price:category_client }}
                                    </td>
                                    <!---->
                                {% endfor %}
                            {% endif %}
                        </tr>
                        <!-- -->
                    </tbody>
                    <!---->
                </table>
            </div>
            <!---->
        {% endfor %}
    </div>
{% endfor %}
<!-- -->
<!-- -->
{% endblock %}

{% block script %}
<script src="{% static 'js/basket/script.js' %}"></script>
{% endblock %}
