{% extends 'product_app/base.html' %}

{% load static %}

{% block content %}
<!-- Update basket form -->
<form id="update-basket-form" role="form" action="" method="post">
    {% csrf_token %}
    <!-- title with basket number -->
    <h5>Panier numéro {{ basket_number }}</h5>
    <!---->
    {% if msg != "" %}
        <!-- error message -->
        <ul>
            <li>{{ msg }}</li>
        </ul>
        <!---->
    {% endif %}
    <!-- basket's category-->
    {{ form.as_p }}
    <!---->
    <h5>Produits</h5>
    {% for product in products %}
        {% for key, value in composition.items %}
            {% if key == product.name %}
                <!-- input for quantity of each product -->
                <label>{{ product.name }} : <input type="number" step="0.001" name="{{ product.name }}" value="{{ value }}" class="text-center"></label> {{ product.unit }}<br>
                <!---->
            {% endif %}
        {% endfor %}
    {% endfor %}
    <!-- Button save and cancel -->
    <button class="btn btn-success" type="submit">Enregistrer</button>
    <a class="btn btn-danger" href="{% url 'basket' %}">Annuler</a>
    <!---->
</form>
<!---->
{% endblock %}
