{% extends 'product_app/base.html' %}

{% load static %}

{% load mathfilters %}

{% block content %}
<!-- Total revenue -->
<h5>Chiffre d'affaire: {{ total_revenue }}</h5>
<!---->
<!-- total by product-->
{% if total_revenue != 0 %}
    <!-- Table -->
    {% include 'cost_app/table_gain.html' %}
    <!---->
{% endif %}
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<!---->
<!-- Costs -->
<h5 class="mt-3">Coûts totaux: {{ total_costs  }}{% if total_revenue != 0 and total_costs != 0 %} <strong class="text-danger">||</strong> {{ 100|mul:total_costs|div:total_revenue|floatformat:"-2" }} % du chiffre d'affaire{% endif %}</h5>
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Taxes -->
<h5 class="mt-3">Coûts TVA: {{ costs_taxes }}{% if costs_taxes != 0 %} <strong class="text-danger">||</strong> {{ 100|mul:costs_taxes|div:total_costs|floatformat:"-2" }} % des coûts totaux{% if total_revenue != 0 %} <strong class="text-danger">||</strong> 5,5 % du chiffre d'affaire{% endif %}{% endif %}</h5>
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<!---->
<!-- General cost -->
<!-- total for general costs -->
<h5 class="mt-3">Coûts généraux: {{ total_general_costs }}{% if total_general_costs != 0 %} <strong class="text-danger">||</strong> {{ 100|mul:total_general_costs|div:total_costs|floatformat:"-2" }} % des coûts totaux{% if total_revenue != 0 %} <strong class="text-danger">||</strong> {{ 100|mul:total_general_costs|div:total_revenue|floatformat:"-2" }} % du chiffre d'affaire{% endif %}{% endif %}</h5>
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<!---->
<!-- Tables general costs  -->
{% for category in general_categories %}
    {% include 'cost_app/table_general_cost.html' %}
{% endfor %}
<!---->
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<!---->
<!-- Cost per product-->
<!-- total for cost per products -->
<h5 class="mt-3">Coûts par produit: {{ total_costs_product }}{% if total_costs_product != 0 %} <strong class="text-danger">||</strong> {{ 100|mul:total_costs_product|div:total_costs|floatformat:"-2" }} % des coûts totaux{% if total_revenue != 0 %} <strong class="text-danger">||</strong> {{ 100|mul:total_costs_product|div:total_revenue|floatformat:"-2" }} % du chiffre d'affaire{% endif %}{% endif %}</h5>
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Table costs per product -->
{% include 'cost_app/table_costs_products.html' %}
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Tables costs per product -->
{% for category in cost_product_categories %}
    {% include 'cost_app/table_cost_per product.html' %}
{% endfor %}
<!---->
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<!---->
<!-- Beneficits -->
<h5 class="mt-3">Bénéfice net: {% if total_revenue|sub:total_costs.amount < 0 %}- {% endif %}{{ total_revenue|sub:total_costs  }} {% if total_revenue != 0 %}<strong class="text-danger">||</strong> {{ total_revenue|sub:total_costs|mul:100|div:total_revenue|floatformat:"-2" }} % du chiffre d'affaire{% endif %}</h5>
<!---->
<!-- Beneficits per product -->
<hr style="border-top: 2px solid #8c8b8b;">
<hr style="border-top: 2px solid #8c8b8b;">
<h5 class="mt-3">Bénéfices par produit (sans tenir compte des coûts généraux): {% if total_revenue|sub:total_costs_product.amount < 0 %}- {% endif %}{{ total_revenue|sub:total_costs_product|sub:costs_taxes }} {% if total_revenue != 0 %}<strong class="text-danger">||</strong> {{ total_revenue|sub:total_costs_product|sub:costs_taxes|mul:100|div:total_revenue|floatformat:"-2" }} % du chiffre d'affaire{% endif %}</h5>
<!---->
<hr style="border-top: 2px solid #8c8b8b;">
<!-- Table benefit per product -->
{% include 'cost_app/table_benefecit_products.html' %}
<!---->
{% endblock %}
