{% extends 'product_app/base.html' %}

{% load static %}

{% load mathfilters %}

{% block content %}
<!-- Title -->
<h5>Coûts pour {{ product.name }}{% if total_cost_product != 0 %}: {{ total_cost_product }} <strong class="text-danger">||</strong> {{ 100|mul:total_cost_product|div:total_cost_per_product|floatformat:"-2" }} % des coûts par produit <strong class="text-danger">||</strong> {{ 100|mul:total_cost_product|div:total_costs|floatformat:"-2" }} % des coûts totaux <strong class="text-danger">||</strong> {{ 100|mul:total_cost_product|div:total_revenue|floatformat:"-2" }} % du chiffre d'affaire{% endif %}</h5>
<!---->
<!-- Tables costs product -->
{% for category in cost_product_categories %}
    {% include 'cost_app/table_costs_per_product.html' %}
{% endfor %}
<!---->
<!-- return button -->
<a class="btn btn-danger mb-2" href="{% url 'calcul' %}" style="margin-left:2rem;">Retour</a>
<!---->
{% endblock %}