{% load static %}

{% load mathfilters %}

{% load use_dict %}

<div class="table-responsive-md">
    <table class="table table-hover table-bordered table-sm table-dark text-center">
        <!-- Table header -->
        <thead>
            <tr class="bg-secondary">
                <!-- col name -->
                <th scope="col" rowspan='2' style="vertical-align: middle;">Produit</th>
                <!---->
                <!-- col gain-->
                <th scope="col" rowspan='2' style="vertical-align: middle;">Gain</th>
                <!-- -->
                <!-- col cost-->
                <th scope="col" rowspan='2' style="vertical-align: middle;">Coût</th>
                <!-- -->
                <!-- 2 cols benefit -->
                <th colspan="2" style="vertical-align: middle;">Bénéfice</th>
                <!-- -->                
            </tr>
            <tr class="bg-secondary">
                <!-- col benefit -->
                <th scope="col">total</th>
                <th scope="col">% des bénéfices par produit</th>
                <!---->
            </tr>
        </thead>
        <!---->
        <!-- Table lines -->
        <tbody>
            {% for product in products %}
                {% with total_cost_by_product|get_value:product as cost %}
                <!-- line for each product -->
                <tr>
                    <!-- name -->
                    <td style="vertical-align: middle;">
                        {{ product.name }}
                    </td>
                    <!---->
                    {% with total_by_products|get_value:product as totals %}
                    <!-- gain -->
                    <td style="vertical-align: middle;">
                        {% if totals.1 != 0 %}
                            {{ totals.1 }}
                        {% endif %}
                    </td>
                    <!---->
                    <!-- cost -->
                    <td style="vertical-align: middle;">
                        {% if cost != 0 %}
                            {{ cost }}
                        {% endif %}
                    </td>
                    <!---->
                    {% with totals.1|sub:cost as benefit %}
                    <!-- benefit -->
                    <td style="vertical-align: middle;">
                        {% if totals.1 != 0 or cost != 0 %}
                            {% if totals.1|sub:cost.amount < 0 %}- {% endif %}{{ benefit }}
                        {% endif %}
                    </td>
                    <!---->
                    <!-- benefit % -->
                    <td style="vertical-align: middle;">
                        {% with total_revenue|sub:total_costs_product as total_benefit %}
                        {% if totals.1|sub:cost.amount < 0 %}- {% endif %}{{ 100|mul:benefit|div:total_benefit|floatformat:"-2" }} %
                        {% endwith %}
                    </td>
                    <!---->
                    {% endwith %}
                    {% endwith %}
                </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
        <!---->
    </table>
</div>
