{% load static %}

{% load mathfilters %}

{% load cost_display %}

{% load use_dict %}

<div class="table-responsive-md">
    <table class="table table-hover table-bordered table-sm table-dark text-center">
        <!-- Table header -->
        <thead>
            <tr class="bg-secondary">
                <!-- col cost's name with category's name in header-->
                <th scope="col" rowspan='2' style="vertical-align: middle;"><strong>{{ category.name }}</strong></th>
                <!---->
                <!-- 2 cols quantity -->
                <th colspan="2" style="vertical-align: middle;">Quantité</th>
                <!-- col amount -->
                <th scope="col" rowspan='2' style="vertical-align: middle;">Coût</th>
                <!---->
                <!-- 5 cols costs % -->
                <th colspan="6" style="vertical-align: middle;">% des coûts</th>
                <!---->
                <!-- col total revenue % -->
                <th scope="col" rowspan='2' style="vertical-align: middle;">% du CA</th>
                <!---->
            </tr>
            <tr class="bg-secondary">
                <!-- cols quantity -->
                <th scope="col">totale</th>
                <th scope="col"></th>
                <!-- -->
                <!-- cols costs % -->
                <th scope="col">du coût</th>
                <th scope="col">{{ category.name }} | {{ product.name }}</th>
                <th scope="col">{{ category.name }}</th>
                <th scope="col">{{ product.name }}</th>
                <th scope="col">par produit</th>
                <th scope="col">totaux</th>
                <!---->
            </tr>
        </thead>
        <!---->
        <!-- Table lines -->
        <tbody>
            {% for cost in category|get_costs_by_category %}
                <!-- line for each cost -->
                <tr>
                    <!-- name -->
                    <td style="vertical-align: middle;">
                        {{ cost.name }}
                    </td>
                    <!---->
                    {% with cost|get_cost_quantity_per_product:product as quantity %}
                    <!-- total quantity -->
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ quantity }} {{ cost.unit }}
                        {% endif %}
                    </td>
                    <!-- add link -->
                    <td style="vertical-align: middle;">
                        <a href="{% url 'calcul' %}ajouter-couts-par-produit/cost{{ cost.id }}/product{{ product.id }}/" class="btn btn-sm btn-outline-light m-0">ajouter</a>
                    </td>
                    <!---->
                    <!-- amount -->
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ cost.amount|mul:quantity }}
                        {% endif %}
                    </td>
                    <!---->
                    <!-- cost % -->
                    {% with totals_by_cost_product|get_value:cost as total %}
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ 100|mul:cost.amount|mul:quantity|div:total|floatformat:"-2" }} %
                        {% endif %}
                    </td>
                    {% endwith %}
                    <!---->
                    <!-- category product costs % -->
                    {% with totals_by_cost_product_category|get_value:category as total %}
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ 100|mul:cost.amount|mul:quantity|div:total|floatformat:"-2" }} %
                        {% endif %}
                    </td>
                    {% endwith %}
                    <!---->
                    <!-- category costs % -->
                    {% with totals_by_costs_product_category|get_value:category as total %}
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ 100|mul:cost.amount|mul:quantity|div:total|floatformat:"-2" }} %
                        {% endif %}
                    </td>
                    {% endwith %}
                    <!---->
                    <!-- cost for product % -->
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ 100|mul:cost.amount|mul:quantity|div:total_cost_product|floatformat:"-2" }} %
                        {% endif %}
                    </td>
                    <!---->
                    <!-- costs products % -->
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ 100|mul:cost.amount|mul:quantity|div:total_cost_per_product|floatformat:"-2" }} %
                        {% endif %}
                    </td>
                    <!---->
                    <!-- total costs % -->
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ 100|mul:cost.amount|mul:quantity|div:total_costs|floatformat:"-2" }} %
                        {% endif %}
                    </td>
                    <!---->
                    <!-- total revenue % -->
                    <td style="vertical-align: middle;">
                        {% if quantity != 0 %}
                            {{ 100|mul:cost.amount|mul:quantity|div:total_revenue|floatformat:"-2" }} %
                        {% endif %}
                    </td>
                    <!---->
                    {% endwith %}
                </tr>
            {% endfor %}
            <!-- last line -->
            <tr class="bg-success">
                <!-- titlte line -->
                <td colspan="3" class="text-right" style="vertical-align: middle;">
                    Total:
                </td>
                <!---->
                {% with totals_by_cost_product_category|get_value:category as total %}
                <!-- total cost for category -->
                <td style="vertical-align: middle;">
                    {% if total != 0 %}
                        {{ total }}
                    {% endif %}
                </td>
                <!---->
                <td></td>
                <td></td>
                <!-- total cost category % -->
                {% with totals_by_costs_product_category|get_value:category as total_category %}
                <td style="vertical-align: middle;">
                    {% if total != 0 %}
                        {{ 100|mul:total|div:total_category|floatformat:"-2" }} %
                    {% endif %}
                </td>
                {% endwith %}
                <!---->
                <!-- total cost for product % -->
                <td style="vertical-align: middle;">
                    {% if total != 0 %}
                        {{ 100|mul:total|div:total_cost_product|floatformat:"-2" }} %
                    {% endif %}
                </td>
                <!---->
                <!-- total cost for product % -->
                <td style="vertical-align: middle;">
                    {% if total != 0 %}
                        {{ 100|mul:total|div:total_cost_per_product|floatformat:"-2" }} %
                    {% endif %}
                </td>
                <!---->
                <!-- total costs % -->
                <td style="vertical-align: middle;">
                    {% if total != 0 %}
                        {{ 100|mul:total|div:total_costs|floatformat:"-2" }} %
                    {% endif %}
                </td>
                <!---->
                <!-- total revenue % -->
                <td style="vertical-align: middle;">
                    {% if total != 0 %}
                        {{ 100|mul:total|div:total_revenue|floatformat:"-2" }} %
                    {% endif %}
                </td>
                <!---->
                {% endwith %}
            </tr>
        </tbody>
        <!---->
    </table>
</div>
