h5 {
    margin-top: 1rem;
}

h5, a.btn, table, form {
    margin-left: 1rem;
}

button {
    border: none;
    margin-top: 1rem;
}

form a {
    margin-top: 1rem;
}

td button {
    background-color: transparent;
    margin-top: 0;
}