{% extends 'product_app/base.html' %}

{% load static %}

{% block content %}
<h5>Client</h5>
<!-- Update client form -->
<form id="update-client-form" role="form" action="" method="post">
    {% csrf_token %}
    <!-- inputs for category and name -->
    {{ form.as_p }}
    <!---->
    <!-- Button save and cancel -->
    <button class="btn btn-success" type="submit">Enregistrer</button>
    <a class="btn btn-danger" href="{% url 'client' %}">Annuler</a>
    <!---->
</form>
<!-- -->
{% endblock %}
